:root {
	--b-txt: #4c4f69;
	--b-bg-1: #eff1f5;
	--b-bg-2: #ccd0da;
	--b-line: #bcc0cc;
	--b-link: #179299;

	--b-btn-bg: #e6e9ef;
	--b-btn-txt: #4c4f69;
	--b-focus: #91d7e3;
}
@media (prefers-color-scheme: dark) {
	:root {
		--b-txt: #cad3f5;
		--b-bg-1: #24273a;
		--b-bg-2: #363a4f;
		--b-line: #494d64;
		--b-link: #8bd5ca;
	}
}

#logo {
	display: block;
	margin: auto;
}
