<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<title>
		{{ if ne .Title .Site.Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}
	</title>
	<link rel="stylesheet" href="https://unpkg.com/bamboo.css" type="text/css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/custom.css" />
</head>
